<h2>Editing Account</h2>

<%= render 'form2', account: @account %>

<%= link_to 'Show', account_path(@account) %> |

<% if person_signed_in? %>
  <%= link_to 'Back', person_accounts_path(@current_user) %>
<% else %>
  <%= link_to 'Back', legal_person_accounts_path(@current_user) %>
<% end %>
