<h2>Create a new account:</h2>

<%= render 'form', account: @account %>

<% if person_signed_in? %>
  <%= link_to 'Back', person_accounts_path %>
<% else %>
  <%= link_to 'Back', legal_person_accounts_path %>
<% end %>

